
	/* Be Like Pablo - Love is for the Living - Kinetic Type */
	
	body {
		margin:			0;
		padding:		0;
		background:		#000;	
		color:			#fff;
		font-size:		62.5%;
		font-family:	helvetica,arial, sans-serif;
	}
	h1 {
		text-align: center;
		font-size: 3em;
		margin: 2em auto 1em auto;
	}
	#layout {
		width:			960px;
		height:			540px;
		border:			10px solid #fff;
		box-shadow:		insert 0px 0px 20px #000;
		position:		relative;
		margin:			20px auto auto auto;
		overflow:		hidden;
	}
	
	#instructions {
		position:		relative;
		margin:			auto;
		width:			960px;
		text-align:		center;
		font-size:              150%;
	}
	
	.line span {
		opacity:		0;
		color:			#fff;
		text-shadow:	0px 0px 5px #699;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		-ms-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	
	#verse1 .line span {
		text-shadow:	1px 1px 0px #699;
	}
	
	.line span.active {
		opacity:		1;
	}
	
	.line {
		line-height:	1em;
		-webkit-transition: all 0.8s linear;
		-moz-transition: all 0.8s linear;
		-o-transition: all 0.8s linear;
		-ms-transition: all 0.8s linear;
		transition: all 0.8s linear;
	}
	
	#vignette {
		position:		absolute;
		top:			0;
		left:			0;
		width:			960px;
		height:			540px;
		background:		transparent url(../img/vignette.png) no-repeat top left;
		cursor:			pointer;
	}	
	
	#verse1 {
		padding:		100px;
		position:		absolute;
		top:			0;
		left:			0;
		width:			5000px;
		height:			5000px;
		background:		transparent url(../img/bg.jpg) repeat top left;
		-webkit-transform-origin:top left;
		-moz-transform-origin:top left;
		-o-transform-origin:top left;
		-ms-transform-origin:top left;
		transform-origin:top left;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	
	#verse1.scene2 {
		background:		transparent url(../img/newbg2.jpg) repeat top left;
	}
	
	#verse1.scene3 {
		background:		transparent url(../img/bg3.jpg) repeat top left;
	}
	
	/* Camera Moves */
	
	#verse1.line1 {
		-webkit-transform: scale(2) translateX(-400px) translateY(-450px);
		-moz-transform: scale(2) translateX(-400px) translateY(-450px);
		-o-transform: scale(2) translateX(-400px) translateY(-450px);
		-ms-transform: scale(2) translateX(-400px) translateY(-450px);
		transform: scale(2) translateX(-400px) translateY(-450px);
	}
	
	#verse1.line1.word2 {
		-webkit-transform: scale(2) translateX(-500px) translateY(-450px);
		-moz-transform: scale(2) translateX(-500px) translateY(-450px);
		-o-transform: scale(2) translateX(-500px) translateY(-450px);
		-ms-transform: scale(2) translateX(-500px) translateY(-450px);
		transform: scale(2) translateX(-500px) translateY(-450px);
	}
	
	#verse1.line1.word3 {
		-webkit-transform: scale(2) translateX(-750px) translateY(-450px);
		-moz-transform: scale(2) translateX(-750px) translateY(-450px);
		-o-transform: scale(2) translateX(-750px) translateY(-450px);
		-ms-transform: scale(2) translateX(-750px) translateY(-450px);
		transform: scale(2) translateX(-750px) translateY(-450px);
	}
	
	#verse1.line1.word4 {
		-webkit-transform: scale(2) translateX(-900px) translateY(-450px);
		-moz-transform: scale(2) translateX(-900px) translateY(-450px);
		-o-transform: scale(2) translateX(-900px) translateY(-450px);
		-ms-transform: scale(2) translateX(-900px) translateY(-450px);
		transform: scale(2) translateX(-900px) translateY(-450px);
	}
	
	#verse1.line1.word5 {
		-webkit-transform: scale(2) translateX(-1100px) translateY(-450px);
		-moz-transform: scale(2) translateX(-1100px) translateY(-450px);
		-o-transform: scale(2) translateX(-1100px) translateY(-450px);
		-ms-transform: scale(2) translateX(-1100px) translateY(-450px);
		transform: scale(2) translateX(-1100px) translateY(-450px);
	}
	
	#verse1.line2 {
		-webkit-transform: scale(1.4) translateX(-600px) translateY(-550px);
		-moz-transform: scale(1.4) translateX(-600px) translateY(-550px);
		-o-transform: scale(1.4) translateX(-600px) translateY(-550px);
		-ms-transform: scale(1.4) translateX(-600px) translateY(-550px);
		transform: scale(1.4) translateX(-600px) translateY(-550px);
	}
	
	#verse1.line2.word4 {
		-webkit-transform: scale(0.8) translateX(-500px) translateY(-550px);
		-moz-transform: scale(0.8) translateX(-500px) translateY(-550px);
		-o-transform: scale(0.8) translateX(-500px) translateY(-550px);
		-ms-transform: scale(0.8) translateX(-500px) translateY(-550px);
		transform: scale(0.8) translateX(-500px) translateY(-550px);
	}
	
	#verse1.line3 {
		-webkit-transform: scale(2) translateX(-1575px) translateY(-500px);
		-moz-transform: scale(2) translateX(-1575px) translateY(-500px);
		-o-transform: scale(2) translateX(-1575px) translateY(-500px);
		-ms-transform: scale(2) translateX(-1575px) translateY(-500px);
		transform: scale(2) translateX(-1575px) translateY(-500px);
	}
	
	#verse1.line3.word4 {
		-webkit-transform: scale(2) translateX(-1700px) translateY(-500px);
		-moz-transform: scale(2) translateX(-1700px) translateY(-500px);
		-o-transform: scale(2) translateX(-1700px) translateY(-500px);
		-ms-transform: scale(2) translateX(-1700px) translateY(-500px);
		transform: scale(2) translateX(-1700px) translateY(-500px);
	}
	
	#verse1.line4 {
		-webkit-transform: scale(0.40) translateX(-300px) translateY(-1300px);
		-moz-transform: scale(0.40) translateX(-300px) translateY(-1300px);
		-o-transform: scale(0.40) translateX(-300px) translateY(-1300px);
		-ms-transform: scale(0.40) translateX(-300px) translateY(-1300px);
		transform: scale(0.40) translateX(-300px) translateY(-1300px);
	}
	
	#verse1.line5 {
		-webkit-transform: scale(0.80) translateX(-450px) translateY(-1430px);
		-moz-transform: scale(0.80) translateX(-450px) translateY(-1430px);
		-o-transform: scale(0.80) translateX(-450px) translateY(-1430px);
		-ms-transform: scale(0.80) translateX(-450px) translateY(-1430px);
		transform: scale(0.80) translateX(-450px) translateY(-1430px);
	}
	
	#verse1.line6 {
		-webkit-transform: scale(0.8) translateX(-450px) translateY(-1230px);
		-moz-transform: scale(0.8) translateX(-450px) translateY(-1230px);
		-o-transform: scale(0.8) translateX(-450px) translateY(-1230px);
		-ms-transform: scale(0.8) translateX(-450px) translateY(-1230px);
		transform: scale(0.8) translateX(-450px) translateY(-1230px);
	}	
	
	#verse1.line6.word5 {
		-webkit-transform: scale(0.8) translateX(-1400px) translateY(-1230px);
		-moz-transform: scale(0.8) translateX(-1400px) translateY(-1230px);
		-o-transform: scale(0.8) translateX(-1400px) translateY(-1230px);
		-ms-transform: scale(0.8) translateX(-1400px) translateY(-1230px);
		transform: scale(0.8) translateX(-1400px) translateY(-1230px);
	}
	
	#verse1.line7 {
		-webkit-transform: scale(0.4) translateX(-300px) translateY(-2200px);
		-moz-transform: scale(0.4) translateX(-300px) translateY(-2200px);
		-o-transform: scale(0.4) translateX(-300px) translateY(-2200px);
		-ms-transform: scale(0.4) translateX(-300px) translateY(-2200px);
		transform: scale(0.4) translateX(-300px) translateY(-2200px);
	}	
	
	#verse1.line7.word3 {
		-webkit-transform: scale(0.4) translateX(-1150px) translateY(-2200px);
		-moz-transform: scale(0.4) translateX(-1150px) translateY(-2200px);
		-o-transform: scale(0.4) translateX(-1150px) translateY(-2200px);
		-ms-transform: scale(0.4) translateX(-1150px) translateY(-2200px);
		transform: scale(0.4) translateX(-1150px) translateY(-2200px);
	}	
	
	#verse1.line7.word7 {
		-webkit-transform: scale(1.2) translateX(-2950px) translateY(-2900px);
		-moz-transform: scale(1.2) translateX(-2950px) translateY(-2900px);
		-o-transform: scale(1.2) translateX(-2950px) translateY(-2900px);
		-ms-transform: scale(1.2) translateX(-2950px) translateY(-2900px);
		transform: scale(1.2) translateX(-2950px) translateY(-2900px);
	}	
	
	#verse1.line10 {
		-webkit-transform: scale(0.4) rotate(-20deg) translateX(-450px) translateY(-3130px);
		-moz-transform: scale(0.4) rotate(-20deg) translateX(-450px) translateY(-3130px);
		-o-transform: scale(0.4) rotate(-20deg) translateX(-450px) translateY(-3130px);
		-ms-transform: scale(0.4) rotate(-20deg) translateX(-450px) translateY(-3130px);
		transform: scale(0.4) rotate(-20deg) translateX(-450px) translateY(-3130px);
	}	
	
	#verse1.title {
		-webkit-transform: translateX(-2500px);
		-moz-transform: translateX(-2500px);
		-o-transform: translateX(-2500px);
		-ms-transform: translateX(-2500px);
		transform: translateX(-2500px);
	}	
	
	/* End Camera moves */		
	
	/* Special Effects */
	
	.colour {
		-webkit-animation:colour 1s infinite;
		-moz-animation:colour 1s infinite;
		-o-animation:colour 1s infinite;
		-ms-animation:colour 1s infinite;
		animation:colour 1s infinite;
	}
	
	.mono {
		-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
		-o-filter: grayscale(1);
		-ms-filter: grayscale(1);
		filter: grayscale(1);
	}
	
	.halfleading {
		line-height: 0.5em;
	}	
	
	.shake {
		color:		#FC3;
		display:	inline-block;
		-webkit-animation:shake 1s infinite;
		-moz-animation:shake 1s infinite;
		-o-animation:shake 1s infinite;
		-ms-animation:shake 1s infinite;
		animation:shake 1s infinite;
	}	
	
	.shadow {
		box-shadow:		0px 0px 10px #000;
	}
	
	.grow {
		display: inline-block;
		-webkit-animation:grow 4s;
		-moz-animation:grow 4s;
		-o-animation:grow 4s;
		-ms-animation:grow 4s;
		animation:grow 4s;
	}
	
	.pulse {
		display: inline-block;
		-webkit-animation:pulse 0.4s infinite;
		-moz-animation:pulse 0.4s infinite;
		-o-animation:pulse 0.4s infinite;
		-ms-animation:pulse 0.4s infinite;
		animation:pulse 0.4s infinite;
	}

	/* End Special Effects */
	
	/* Positioning of typography on stage */
	
	#verse1 .line:nth-of-type(1) {
		position:		absolute;
		top:			500px;
		left:			400px;
		width:			4000px;
		font-size:		10em;
	}
	
	#verse1 .line:nth-of-type(2) {
		position:		absolute;
		top:			900px;
		left:			250px;
		font-size:		15em;
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		transform:rotate(-90deg);
		text-align:		right;
		-webkit-transform-origin:top center;
		-moz-transform-origin:top center;
		-o-transform-origin:top center;
		-ms-transform-origin:top center;
		transform-origin:top center;
	}
	
	#verse1 .line:nth-of-type(2) span {
		display:		block;
		-webkit-transform:rotate(30deg) translateX(-500px);
		-moz-transform:rotate(30deg) translateX(-500px);
		-o-transform:rotate(30deg) translateX(-500px);
		-ms-transform:rotate(30deg) translateX(-500px);
		transform:rotate(30deg) translateX(-500px);
	}
	
	#verse1 .line:nth-of-type(2) span.active {
		-webkit-transform:rotate(30deg) translateX(0);
		-moz-transform:rotate(30deg) translateX(0);
		-o-transform:rotate(30deg) translateX(0);
		-ms-transform:rotate(30deg) translateX(0);
		transform:rotate(30deg) translateX(0);
	}
	
	#verse1 .line:nth-of-type(3) {
		position:		absolute;
		top:			550px;
		left:			1600px;
		width:			500px;
		font-size:		5em;
	}
	
	#verse1 .line:nth-of-type(3) span {
		font-family: 	'Loved by the King', cursive;
		text-shadow:	none;
		font-size: 		1.3em;
	}
	
	#verse1 .line:nth-of-type(4) {
		font-size:		21.5em;
		position:		absolute;
		top:			1500px;
		left:			500px;
		width:			1500px;
		padding:		150px;
		border:			25px dashed #fff;
	}
	
	#verse1 .line:nth-of-type(5) {
		position:		absolute;
		font-size:		5em;
		width:			2500px;
		top:			1900px;
		left:			775px;
	}
	
	#verse1 .line:nth-of-type(6) {
		position:		absolute;
		font-size:		17em;
		top:			1300px;
		left:			500px;	
		width:			3000px;	
	}
	
	#verse1 .line:nth-of-type(6) span:nth-of-type(8) {
		display:		inline-block;
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		transform:rotate(90deg);
		-webkit-transform-origin:top left;
		-moz-transform-origin:top left;
		-o-transform-origin:top left;
		-ms-transform-origin:top left;
		transform-origin:top left;
		margin-left:	100px;
		text-indent:	200px;
	}
	
	#verse1 .line:nth-of-type(7) {
		position:		absolute;
		top:			2500px;
		left:			500px;
		font-size:		25em;
		width:			5000px;
	}
	
	#verse1 .line:nth-of-type(8) {
		position:		absolute;
		top:			3000px;
		left:			500px;
		font-size:		25em;
		width:			5000px;
	}
	
	#verse1 .line:nth-of-type(9) {
		position:		absolute;
		top:			3225px;
		left:			3075px;
		font-size:		5em;
		width:			5000px;
	}
	
	#verse1 .line:nth-of-type(10) {
		position:		absolute;
		top:			4000px;
		left:			500px;
		font-size:		25em;
		width:			5000px;
	}
	
	#verse1 .songtitle {
		width:			960px;
		height:			540px;
		position:		absolute;
		top:			0;
		left:			0px;
		background:		transparent url(../img/titleslide.png) no-repeat top left;
	}
	
	#verse2, #verse3 {
		display:		none;
	}
	
	@-webkit-keyframes shake {
		0% { -webkit-transform: translateX(-20px) translateY(10px); }
		10% { -webkit-transform: translateX(0px) translateY(0px); }
		20% { -webkit-transform: translateX(10px) translateY(10px); }
		30% { -webkit-transform: translateX(0px) translateY(-10px); }
		40% { -webkit-transform: translateX(-10px) translateY(0px); }
		50% { -webkit-transform: translateX(-20px) translateY(10px); }
		60% { -webkit-transform: translateX(0px) translateY(0px); }
		70% { -webkit-transform: translateX(10px) translateY(10px); }
		80% { -webkit-transform: translateX(0px) translateY(-10px); }
		90% { -webkit-transform: translateX(-10px) translateY(0px); }
		100% { -webkit-transform: translateX(-20px) translateY(10px); }
	}
	@-moz-keyframes shake {
		0% { -moz-transform: translateX(-20px) translateY(10px); }
		10% { -moz-transform: translateX(0px) translateY(0px); }
		20% { -moz-transform: translateX(10px) translateY(10px); }
		30% { -moz-transform: translateX(0px) translateY(-10px); }
		40% { -moz-transform: translateX(-10px) translateY(0px); }
		50% { -moz-transform: translateX(-20px) translateY(10px); }
		60% { -moz-transform: translateX(0px) translateY(0px); }
		70% { -moz-transform: translateX(10px) translateY(10px); }
		80% { -moz-transform: translateX(0px) translateY(-10px); }
		90% { -moz-transform: translateX(-10px) translateY(0px); }
		100% { -moz-transform: translateX(-20px) translateY(10px); }
	}
	@-o-keyframes shake {
		0% { -o-transform: translateX(-20px) translateY(10px); }
		10% { -o-transform: translateX(0px) translateY(0px); }
		20% { -o-transform: translateX(10px) translateY(10px); }
		30% { -o-transform: translateX(0px) translateY(-10px); }
		40% { -o-transform: translateX(-10px) translateY(0px); }
		50% { -o-transform: translateX(-20px) translateY(10px); }
		60% { -o-transform: translateX(0px) translateY(0px); }
		70% { -o-transform: translateX(10px) translateY(10px); }
		80% { -o-transform: translateX(0px) translateY(-10px); }
		90% { -o-transform: translateX(-10px) translateY(0px); }
		100% { -o-transform: translateX(-20px) translateY(10px); }
	}
	@-ms-keyframes shake {
		0% { -ms-transform: translateX(-20px) translateY(10px); }
		10% { -ms-transform: translateX(0px) translateY(0px); }
		20% { -ms-transform: translateX(10px) translateY(10px); }
		30% { -ms-transform: translateX(0px) translateY(-10px); }
		40% { -ms-transform: translateX(-10px) translateY(0px); }
		50% { -ms-transform: translateX(-20px) translateY(10px); }
		60% { -ms-transform: translateX(0px) translateY(0px); }
		70% { -ms-transform: translateX(10px) translateY(10px); }
		80% { -ms-transform: translateX(0px) translateY(-10px); }
		90% { -ms-transform: translateX(-10px) translateY(0px); }
		100% { -ms-transform: translateX(-20px) translateY(10px); }
	}
	@keyframes shake {
		0% { transform: translateX(-20px) translateY(10px); }
		10% { transform: translateX(0px) translateY(0px); }
		20% { transform: translateX(10px) translateY(10px); }
		30% { transform: translateX(0px) translateY(-10px); }
		40% { transform: translateX(-10px) translateY(0px); }
		50% { transform: translateX(-20px) translateY(10px); }
		60% { transform: translateX(0px) translateY(0px); }
		70% { transform: translateX(10px) translateY(10px); }
		80% { transform: translateX(0px) translateY(-10px); }
		90% { transform: translateX(-10px) translateY(0px); }
		100% { transform: translateX(-20px) translateY(10px); }
	}
	@-webkit-keyframes colour {
		0% { color: #C6F; }
		10% { color: #C69; }
		20% { color: #C33; }
		30% { color: #F90; }
		40% { color: #FF3; }
		50% { color: #6F6; }
		60% { color: #6FC; }
		70% { color: #69F; }
		80% { color: #63F; }
		90% { color: #60F; }
		100% { color: #93C; }
	}
	@-moz-keyframes colour {
		0% { color: #C6F; }
		10% { color: #C69; }
		20% { color: #C33; }
		30% { color: #F90; }
		40% { color: #FF3; }
		50% { color: #6F6; }
		60% { color: #6FC; }
		70% { color: #69F; }
		80% { color: #63F; }
		90% { color: #60F; }
		100% { color: #93C; }
	}
	@-o-keyframes colour {
		0% { color: #C6F; }
		10% { color: #C69; }
		20% { color: #C33; }
		30% { color: #F90; }
		40% { color: #FF3; }
		50% { color: #6F6; }
		60% { color: #6FC; }
		70% { color: #69F; }
		80% { color: #63F; }
		90% { color: #60F; }
		100% { color: #93C; }
	}
	@-ms-keyframes colour {
		0% { color: #C6F; }
		10% { color: #C69; }
		20% { color: #C33; }
		30% { color: #F90; }
		40% { color: #FF3; }
		50% { color: #6F6; }
		60% { color: #6FC; }
		70% { color: #69F; }
		80% { color: #63F; }
		90% { color: #60F; }
		100% { color: #93C; }
	}
	@keyframes colour {
		0% { color: #C6F; }
		10% { color: #C69; }
		20% { color: #C33; }
		30% { color: #F90; }
		40% { color: #FF3; }
		50% { color: #6F6; }
		60% { color: #6FC; }
		70% { color: #69F; }
		80% { color: #63F; }
		90% { color: #60F; }
		100% { color: #93C; }
	}
	
	@-webkit-keyframes grow {
		0% { -webkit-transform: scale(1); }		
		50% { -webkit-transform: scale(2) translateX(100px); }	
		100% { -webkit-transform: scale(2) translateX(100px); }	
	}
	@-moz-keyframes grow {
		0% { -moz-transform: scale(1); }		
		50% { -moz-transform: scale(2) translateX(100px); }	
		100% { -moz-transform: scale(2) translateX(100px); }	
	}
	@-o-keyframes grow {
		0% { -o-transform: scale(1); }		
		50% { -o-transform: scale(2) translateX(100px); }	
		100% { -o-transform: scale(2) translateX(100px); }	
	}
	@-ms-keyframes grow {
		0% { -webkit-transform: scale(1); }		
		50% { -webkit-transform: scale(2) translateX(100px); }	
		100% { -webkit-transform: scale(2) translateX(100px); }	
	}
	@keyframes grow {
		0% { transform: scale(1); }		
		50% { transform: scale(2) translateX(100px); }	
		100% { transform: scale(2) translateX(100px); }	
	}
	
	@-webkit-keyframes pulse {
		0% { -webkit-transform: scale(1); }	
		60% { -webkit-transform: scale(1.2); }
		75% { -webkit-transform: scale(0.9); }			
		100% { -webkit-transform: scale(1); }
	}
	@-moz-keyframes pulse {
		0% { -webkit-transform: scale(1); }	
		60% { -webkit-transform: scale(1.2); }
		75% { -webkit-transform: scale(0.9); }			
		100% { -webkit-transform: scale(1); }
	}
	@-o-keyframes pulse {
		0% { -o-transform: scale(1); }	
		60% { -o-transform: scale(1.2); }
		75% { -o-transform: scale(0.9); }			
		100% { -o-transform: scale(1); }
	}
	@-ei-keyframes pulse {
		0% { -webkit-transform: scale(1); }	
		60% { -webkit-transform: scale(1.2); }
		75% { -webkit-transform: scale(0.9); }			
		100% { -webkit-transform: scale(1); }
	}
	@keyframes pulse {
		0% {transform: scale(1); }	
		60% {transform: scale(1.2); }
		75% {transform: scale(0.9); }			
		100% {transform: scale(1); }
	}