/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v16-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v16-latin-regular.woff") format("woff");
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/open-sans-v16-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v16-latin-700.woff") format("woff");
}

/* rouge-script-regular - latin */
@font-face {
  font-family: "Rouge Script";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Rouge Script"), local("RougeScript-Regular"),
    url("../fonts/rouge-script-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/rouge-script-v7-latin-regular.woff") format("woff");
}

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: sans-serif;
}
body {
  background: var(--color-salmon)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQYV2NkQAOMUH4DAwMDCDPABODqMAQAKe4BBZTlhh0AAAAASUVORK5CYII=);
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  font: 1rem/1.4 "Open Sans", Helvetica, Arial, sans-serif;
}
:root {
  --hue-blue: 220;
  --hue-salmon: 13;
  --complimentary-hue: calc(var(--hue-blue) - 180);
  --color-royalblue: #3a8fda;
  --color-mediumturquose: #6adfd6;
  --color-orchid: #df52cb;
  --color-indianred: #e94363;
  --color-aquamarine: #7af3e0;
  --color-lightskyblue: #61dafb;
  --color-cornflowerblue: hsl(var(--hue-blue), 50%, 50%);
  --color-salmon: hsl(var(--hue-salmon), 80%, 65%); /* #fb8261 */
  --color-tomato: #e74a33;
  --color-lightpink: #f4b7a3;
}

h1,
h2,
h3 {
  margin-top: 0;
}

main p {
  margin-bottom: 0;
}

.header {
  grid-area: header;
  line-height: 32px;
  background-image: linear-gradient(
    to right,
    #618dfb,
    var(--color-lightskyblue)
  );
}

.main-menu {
  grid-area: menu;
  height: 80px;
  align-self: center;
  justify-self: end;
  font-size: 1rem;
  z-index: 100;
}
.content-area {
  grid-area: content;
  color: #444;
  background: #f8f8f8;
  border-radius: 4px;
}

.left-sidebar {
  grid-area: left-sidebar;
}
/*  margin-left: 1rem;  */
.right-sidebar {
  grid-area: right-sidebar;
  margin-right: 1rem;
}
.sponsors-wrapper {
  grid-area: sponsors;
}
.footer {
  grid-area: footer;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 96px auto 220px;
  grid-gap: 1rem 2rem;
  grid-template-rows: 160px auto;
  grid-template-areas:
    "header header header"
    "left-sidebar content right-sidebar"
    "sponsors sponsors sponsors"
    "footer footer footer";
  background: #444;
}
.main-header {
  height: 3rem;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-menu__item {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.main-menu .main-menu__item:last-of-type {
  margin-right: 0;
}
.sidebar {
  grid-area: sidebar;
  padding: 1rem;
}
.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
}
.sponsor {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-radius: 0.625rem;
  place-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.content-area > div {
  padding: 1.5rem 4rem 4rem 4rem;
  text-align: left;
}

@media all and (max-width: 992px) {
  .container {
    grid-gap: 1.5rem 1rem;
    grid-template-rows: 120px auto;
    grid-template-columns: 96px auto 200px;
  }
  .sponsors {
    grid-column-gap: 0.5rem;
  }
  .content-area > div {
    padding: 1.5rem 2.5rem 3rem 2.5rem;
    text-align: left;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    grid-template-columns: 96px auto;
    grid-gap: 2rem 1rem;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "header header"
      "left-sidebar content"
      "sponsors sponsors"
      "footer footer";
  }
  .header {
    height: 120px;
  }
  .sponsors {
    grid-column-gap: 0;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .content-area {
    margin-right: 2rem;
    border-radius: 0;
  }
  .content-area > div {
    padding: 1.5rem 2rem 3rem 2rem;
    text-align: left;
  }
  .right-sidebar {
    display: none;
  }
}

@media all and (max-width: 540px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0 0;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "sponsors"
      "footer";
  }
  .header {
    height: 112px;
  }
  .content-area {
    margin-right: 0;
    border-radius: 0;
    padding: 0 1.5rem 3rem 1.5rem;
  }
  .content-area > div {
    padding: 1rem 1.5rem 2rem 1.5rem;
    text-align: left;
  }
  .main-menu {
    justify-self: start;
  }
  .left-sidebar {
    display: none;
  }
}

.first-letter {
  font-size: 2rem;
  line-height: 0.7;
  color: var(--color-tomato);
  font-family: "Rouge Script";
}

.modal {
  position: fixed;
  top: 50%;
  padding: 3rem;
  background-color: white;
  border: 1px solid grey;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.right-sidebar blockquote {
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
  page-break-inside: avoid;
  background: var(--color-salmon);
  color: #333;
  font-family: Georgia, serif;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 1rem 1rem 3rem 1rem;
  text-align: left;
  z-index: 600;
  padding: 1rem 1rem 2rem 1rem;
}

.right-sidebar blockquote:before {
  content: "\201C";
  color: var(--color-tomato);
  font-size: 8rem;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -1.5rem;
  left: -0.3rem;
  text-shadow: none;
  z-index: -300;
}

.right-sidebar blockquote span {
  line-height: 1.4;
}

.right-sidebar blockquote .first-letter {
  color: #444;
}

.right-sidebar blockquote .author {
  color: #444;
  font: italic 0.7em/1.8 Georgia, serif;
  padding: 1rem;
}

.right-sidebar blockquote cite {
  display: block;
  color: #000;
  font-size: 0.9rem;
  margin: 15px 0 0 0;
  text-align: right;
}

.right-sidebar blockquote cite:before {
  content: "\2014 \2009";
}

.right-sidebar blockquote:nth-child(odd) {
  transform: rotate(5deg);
}

.right-sidebar blockquote:nth-child(even) {
  transform: rotate(-5deg);
}

/* */
.page {
  background: linear-gradient(top, #fff 0%, #e5e5e5 100%);
}

.foldtl {
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.foldtl:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0p;
  height: 0p;
  border-bottom: 70px solid #eee;
  border-left: 70px solid #ccc; /*S et to background color, not transparent! */
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 540px) {
  .page {
    background: #e5e5e5;
  }
  .foldtl:before {
    display: none;
  }
}

/* Hypertext Links start */
a {
  text-decoration: none;
  position: relative;
  transition: all 1s;
  color: var(--color-cornflowerblue);
  background: transparent;
  cursor: pointer;
}

a:visited {
  color: #ccc);
  text-decoration: none;
}
a:hover {
  color: var(--color-salmon);
}
a:active {
  color: var(--color-salmon);
}

a.external {
  padding-left: 15px;
  background: url(http://janetkulyk.s3.amazonaws.com/img/remote.gif) center left
    no-repeat;
}
a.external:hover {
  background: #e2e2e2 url(http://janetkulyk.s3.amazonaws.com/img/remote_a.gif)
    center left no-repeat;
}
a.mysite {
  background: none;
}

.mailto a:link {
  font-size: mediumm;
  line-height: 1.4rem;
}
.mailto a:hover {
  text-decoration: none;
  background-color: #e2e2e2;
}

a.pdflink {
  color: #090;
  background: url(../img/pdf.png) no-repeat 0 0;
}
span a.pdflink {
  padding-left: 25px;
  font-weight: normal;
  display: block;
  height: 16px;
  color: #090;
}

a img {
  text-decoration: none;
}

a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 1s;
}

a:hover:before {
  width: 100%;
  left: 0;
  background: var(--color-salmon);
}
/* Hypertext Links end */

