blockquote {
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
  page-break-inside: avoid;
  background: var(--color-salmon);
  color: #333;
  font-family: Georgia, serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 1rem 1rem 3rem 1rem;
  text-align: left;
  z-index: 600;
  padding: 1rem 1rem 2rem 1rem;
}

blockquote:before {
  content: "\201C";
  color: var(--color-tomato);
  font-size: 8rem;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -1.5rem;
  left: -0.3rem;
  text-shadow: none;
  z-index: -300;
}

blockquote span {
  line-height: 1.4;
}

blockquote .first-letter {
  color: #444;
}

blockquote .author {
  color: #444;
  font: italic 0.7em/1.8 Georgia, serif;
  padding: 1rem;
}

blockquote cite {
  display: block;
  color: #000;
  font-size: 0.9rem;
  margin: 15px 0 0 0;
  text-align: right;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.right-sidebar blockquote:nth-child(odd) {
  transform: rotate(5deg);
}

.right-sidebar blockquote:nth-child(even) {
  transform: rotate(-5deg);
}
