/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v16-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v16-latin-regular.woff") format("woff")
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), 
    url("../fonts/open-sans-v16-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v16-latin-700.woff") format("woff")
}

/* rouge-script-regular - latin */
@font-face {
  font-family: "Rouge Script";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Rouge Script"), local("RougeScript-Regular"),
    url("../fonts/rouge-script-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/rouge-script-v7-latin-regular.woff") format("woff")
}
